$white : #ffffff;
$black : #000000;
$point-color : #008cf8;
$blue-gray : #555d67;
$ft-main-color : #000000;
$ft-gray-color : #a8a8a8;
$ft-gray-color2 : #999999;
$ft-gray-color3 : #838a93;
$bd-color : #e1e1e1;

/* header color */
$qa-bg-color : #f4f5fb;
$qa-ft-color : #585f69;

$tab-ft-color : #a5acb8;
$custom-select-bd-color : #f0f0f0;
$textarea-pl-ft-color : #666666;

$notice-bg-color : #f4f3f8;
$notice-ft-color : #707477;
$notice-ft-color2 : #777777;

/* btn color */
$btn-bg-color : #1e2530;
$btn-bd-color : #d7dae2;
$btn-disabled-color : #c0c4cd;

$red-color : #ff5858;
$dark-blue-color : #0168b7;
